@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');


body{
    font-family: 'Josefin Sans', sans-serif;
    height: 100%; 
}
.hero-content{
    background: url('hero-img.png');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hero{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-content .title-1{
    color: #3957FF;
}
.hero-content .title-2{
    font-size: 50px;
    font-weight: bold;
    color: #212025;  
}
.hero-content .content{
    font-size: 20px;
    width: 500px;
    color: #212025;
}
.hero-content .hero-btn{
    background-color: #122857;
    border: none;
    color: white;
    width: 140px;
    height: 50px;
    font-weight: bold;
}
.hero-content .hero-btn:hover{
    background-color: #3957FF;
}
.nav{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    height: 75px;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: row;
    width: 17px;
    height: 40px;
}
.nav1{
    display: flex;
    list-style-type:none;
    flex-direction: row;
}
 .nav .nav1 li a{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    text-decoration: none;
    font-size: 16px;
    color: #043a58;
}
.btn{
    display: flex;
    flex-direction: row;
    background-color: #3957FF;
    align-items: center;
    width: 140px;
    height: 40px;
    justify-content: center;
    border: none;
    color: #ffffff;
    font-size: 14px
}
.nav .nav1 li a:hover{
    color: #3957FF;
}
.dropdown-container:hover .dropdown{
    display: block;
    position: absolute;
}
.dropdown-container:hover .dropdown{
    display: block;
    position: absolute;
}
.dropdown{
    display: none;
    flex-direction:column;
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: #ffffff;
    opacity:0.8;
}
.dropdown li a{
    padding-right: 20px;
    margin-top: 21px;
}
.dropdown.hover{
     display: block;
     display: flex;
     flex-direction: column;
}
.practice-cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.practice-area{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin-top: 50px;
    
}
.practice-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 588px;
    margin: 15px;
}
.practice-area .practice-text .title-1{
    color: #3957FF; 
    font-size: 18px;
}
.practice-area .practice-text .title-2{
    font-size: 35px;
    color: #092C3F; 
}
.practice-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.practice-card .card{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 280px;
    border: 1px solid #D3D3D3;
    padding: 50px;
    margin: 15px;
}
.practice-card .card .icon{
    margin-bottom: 20px;
}
.practice-card .card .icon i{
    font-size: 40px;
    color: #3957FF;
}
.practice-card .card .card-title{
    color: #620051;
}
.practice-card .card .card-content{
    color: #1A1110;
    line-height: 1.5;
}
.practice-card .card .card-btn{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-btn i{
    font-size: 18px;
}
.practice-card .card .card-btn:hover{
    color: #3957FF;
}
.practice-card .card .card-btn a{
    margin-right: 10px;
    text-decoration: none;
    color: #1A1110;
}
.practice-card .card .card-btn a:hover{
    color: #3957FF;
}
.lawyer1{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  height: 700px;
  width: 100%;
}
.paragraph{
   display: flex;
   flex-direction: column;
   padding-left: 40px;
   justify-content: center;
   color: white;
   background-color: #3957ff;
   width: 50%;
    line-height: 30px;
}
.image-container{
    width:50%;
    height:100%;
    background-image: url("./photo5.webp");
    background-size: cover;
}
.p1{
     font-size: 18px;
     font-family: "Josefin Sans",sans-serif;
     font-weight: 500;
}
.p2{
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 50px
}
.p3{
    font-size: 20px;
    font-family: "Roboto",sans-serif;
    font-weight: 550;
}
.p4{
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    color: #cecece;
}
.btn1{
    display: flex;
    flex-direction: row;
    background: #112957;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    width: 180px;
    height: 60px;
    justify-content: center;
    border: none;
    color: white;
    margin-top: 30px;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
}
.btn1:hover{
     background-color: #007bff;
}
.contact-page{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #3957ff;
    width: 100%;
    height: 350px;
    margin-top: 50px;
    font-size: 50px;
    color: white;
}
.page1{
    display: flex;
    flex-direction: row;
    font-weight:700;
    line-height: 70px;
    font-size: 48px;
}
.btn2{
    display: flex;
    flex-direction: row;
    background: #0b1416;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    width: 210px;
    height: 57px;
    justify-content: center;
    border: none;
    color: white;
    font-size: 18px;
}
.btn2:hover{
    background-color: #007bff;
}

.recent-cover{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.recent-cover .title-cover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.recent-cover .title-cover .title-1{
    color: #3957FF; 
    font-size: 18px;
}
.recent-cover .title-cover .title-2{
    font-size: 35px;
    color: #092C3F;
}
.recent-cover .title-cover .recent-title{
    width: 588px;
    margin: 15px;
}
.recent-cover .title-cover .recent-title ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}
.recent-cover .title-cover .recent-title ul li{
    margin: 15px;
    cursor: pointer;
}
.recent-cover .title-cover .recent-title ul li a{
    text-decoration: none;
    color: #9D8F96;
}
.recent-cover .title-cover .recent-title ul li a:hover{
    color: #3957FF;
}
.column{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content-card{
    width: 580px;
    margin: 20px;
}

.content-img img{
    width: 100%;
}

.content-card .title-1{
    color: #3957FF;
}
.content-card .title-2 a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.content-card .title-2 a:hover{
    color: #3957FF;
}

.content-cover-health-law{
    display: none;
    flex-direction: column;
    justify-content: center;
}

.card-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -50px;
    background-color: #F7F9FF;
    position: relative;
    width: 80%;
    height: 150px;
    
}
.card-bg .title-1{
    margin-left: 30px;
}
.card-bg .title-2{
    margin-left: 30px;
}

