@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
body{
    font-family: 'Josefin Sans', sans-serif;
    background: url('hero-img.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-content{
    margin-top: 250px;
    margin-left: 180px;
}
.hero-content .title-1{
    color: #3957FF;
    margin-top: 30px;
}
.hero-content .title-2{
    font-size: 50px;
    font-weight: bold;
    color: #212025;  
}
.hero-content .content{
    font-size: 20px;
    width: 500px;
    color: #212025;
}
.hero-content .hero-btn{
    background-color: #122857;
    border: none;
    color: white;
    width: 140px;
    height: 50px;
    margin-top: 15px;
    font-weight: bold;
}
.hero-content .hero-btn:hover{
    background-color: #3957FF;
}
